/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
    .btn {
        @apply py-2 px-4 bg-mtpurple rounded-full text-white font-bold;
    }
}